/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */


@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans/opensans-regular-webfont.eot');
    src: url('OpenSans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/opensans-regular-webfont.woff') format('woff'),
         url('OpenSans/opensans-regular-webfont.ttf') format('truetype'),
         url('OpenSans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'open_sansbold';
    src: url('OpenSans/opensans-bold-webfont.eot');
    src: url('OpenSans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/opensans-bold-webfont.woff') format('woff'),
         url('OpenSans/opensans-bold-webfont.ttf') format('truetype'),
         url('OpenSans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
 

@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans/opensans-light-webfont.eot');
    src: url('OpenSans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/opensans-light-webfont.woff') format('woff'),
         url('OpenSans/opensans-light-webfont.ttf') format('truetype'),
         url('OpenSans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}



p {font-family: 'open_sansregular', sans-serif;
   font-size: 1.2em;
   color:white;}
	                      
a {
	color:#50add2;
	text-decoration: none;
	font-family: 'open_sansregular', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
}


header {width: 100%;}

.header-bar {
	position: fixed;
	left:0px;
	height:75px;
	z-index: 50000;
	background-color: #fff;
	opacity: .97;
	width: 100%;
	-moz-box-shadow: 0px -3px 20px 0px #999999;
	-webkit-box-shadow: 0px -3px 20px 0px #999999;
	box-shadow: 0px -3px 20px 0px #999999;
}

.header {
height: 75px;
}

.name a {
	font-family: 'open_sansregular', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	float: left;
	margin-left: 40px;
	letter-spacing: 3px;
	line-height: 80px;
}

#main-nav {
	float:right;
	margin-top: 30px;
}

li {
	display: inline-block;
	margin-right: 50px;
}

nav li a {
	font-size: 12px;
	letter-spacing: 3px;
}

.container {
clear: both;
background-size: cover;
background-position: center;
}


h1 {padding-top:1%;
	margin-left:5%;
	width:35%;
	font-size: 3em;
	letter-spacing: 3px;
	line-height: 1.15em;
	color:white;
	font-family: 'open_sansregular', sans-serif;
	text-transform: uppercase;
	text-align: left;
	opacity: .6;
}

h2 {color: white;
	font-family: georgia, serif;
	font-size: 2em;
    text-transform: none;}

#home {
   	padding-top: 5%;
   }

#quote {
	position: absolute;
	top: 820px;
	margin-top: 25%;
	opacity: .6%;
}

#quote p {
	font-family: 'Georgia', serif;
	font-style: italic;
	font-size: 24px;
	letter-spacing: .45px;
	line-height: 1.5em;
	margin-bottom: 5%;
	margin-left: 20%;
	margin-right: 30%;
}

blockquote {
	text-indent: -0.45em;
	}


#collections {
	height:820px;
	position: absolute;
	top: 1640px;
	padding-top: 15%;
	opacity: .6%;
	float: left;
}

.product-box {
	background-color: #f8f8f8;
	width: 310px;
	height: 412px;
	float: left;
	margin-right: 4px;
}

#notice {
	padding: 40% 30% 30% 30%;
}

#notice p {
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2.5px;
	line-height: 1.5em;
	text-align: center;
	margin-bottom: 50%;
}

#about {
	position: absolute;
	top: 2750px;
	height:820px;
	padding: 20% 25% 20% 15%;
}

#about p {
	line-height: 1.5em;
	letter-spacing: .45px;
	margin-top: 5%;
}


#contact {position: absolute;
		top:3800px;
		left:0px;
		padding: 50px;
		background-color: black;
		width:100%;
		letter-spacing: 2px;
		line-height: 1.65em;
		text-transform: uppercase;}


#contact a {font-family: 'open_sansregular', sans-serif;
		text-decoration: none;
		color:#fff;
		opacity: .75;}	



/* =================== DETAIL PAGE ==================== */

#cart {
	position: fixed;
	top: 15%;
	right: 4.5%;
	font-family: 'open_sanslight', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color:#6d7475;
	letter-spacing: 1.5px;
}

#left {
	background-color: #fff;
	width: 50%;
	float: left;
}

#main-item {
	margin-top: 10%;
}


#right {
	background-color: #fff;
	width: 50%;
	float: right;
	margin-top: 15%;
}

#detail-price {
	font-family: 'open_sansbold', sans-serif;
	font-weight: bold;
	color: #5cb2d4;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 24px;
}

#type h3 {
	color: #6d7475;
}

#detail-type {
	font-family: 'open_sanslight', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color:#6d7475;
	letter-spacing: 1px;
	margin-bottom: 10%;
	margin-top: 10%;
}

h4 {
	font-family: 'open_sansbold', sans-serif;
	font-weight: bold;
	color: #6d7475;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 2%;
}

#info {
	margin-top: 30%;
}

#info p {
	color: #6d7475;
	font-size: 14px;
	line-height: 1.5em;
	margin-top: 10%;
	padding-right: 20%;
	margin-bottom: 25%;
}

select {
	margin-top: 5%;
}

#options {
	width: 30%;
	float: left;
}

#size {
	width: 30%;
	float: left;
}

#add-to-cart {
	margin-top: 25%;
}

#add-to-cart p {
	font-family: 'open_sansregular', sans-serif;
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 15px;
	margin: 0% 0 0 22%;
	padding-top: 9%;
}

#button {
	width: 200px;
    height: 50px;
    background: #5cb2d4;
    position: relative;
    -moz-border-radius:    10px;
   	-webkit-border-radius: 10px;
  	border-radius:         10px;
}


#thumbnails {
	margin: 30%;
}

.overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:black;
  opacity:0.5;
  display: none;
  z-index:10;
}

.details {
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  margin:auto;
  width:700px;
  height:500px;
  background-color:white;
  padding:20px 50px;
  border-radius:10px;
  display: none;
  z-index: 15;
}





