

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */


#banner {
	font-family: Helvetica;
	width: 470px;
	padding: 45px 100px;
	margin: -20px 0px 20px 30px;
	text-align: center;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	background-color: black;
	font-size: 20px;
	border-radius: 25px;
	letter-spacing: 0.07em;
	line-height: 2em;
}

#banner h4 {
	font-size: 10px;
}


li {
	font-family: Garamond;
	line-height: 1.5em;
	font-size: 12px;
}


#directions li{	
	list-style: decimal;
}


#directions {
	width: 400px;
	margin-right: 60px;
	margin-left: 70px;
	float: left;
}


h4 {
	font-size: 15px;
	font-family: Helvetica;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	line-height: 2em;
}


#ingredients {
	width: 200px;
	list-style: none;
	float: left;
	margin-right: 100px; 
}


#extra li{
	float: left;
	width: 150px;
	text-align: center;
	font-family: Helvetica;
	background-color: black;
	padding: 5px 7px;
	margin: 5px;
}

a {
	text-decoration: none;
	color: white;
}



