/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/	

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */



/* @font-face
------------------------------------ */

@font-face {
    font-family: 'ralewaybold';
    src: url('src/Raleway/raleway-bold-webfont.eot');
    src: url('src/Raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('src/Raleway/raleway-bold-webfont.woff') format('woff'),
         url('src/Raleway/raleway-bold-webfont.ttf') format('truetype'),
         url('src/Raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('src/Raleway/raleway-regular-webfont.eot');
    src: url('src/Raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('src/Raleway/raleway-regular-webfont.woff') format('woff'),
         url('src/Raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('src/Raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('raleway-medium-webfont.eot');
    src: url('raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-medium-webfont.woff') format('woff'),
         url('raleway-medium-webfont.ttf') format('truetype'),
         url('raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* Logo
------------------------------------ */

#logo h1 a { 
  display:block;	
  text-indent:-9999px;    
  position:absolute;
  width:100px; height:97px;
  background:url(images/logo.png) no-repeat top left;
}


/* Top Nav
------------------------------------ */

#top {
	float: right;
	z-index: 10;
	font-size: 13px;
	line-height: 1.1em;
}


#header { 
	position:relative;
		height:120px; 
	width:100%;
	background-color: #e94534; 
	margin:0 auto; 
	margin-top: 30px;
	padding:0px;
	box-shadow: 0px 0px 5px 0px #666 
}

#header-wrapper {
	position: relative;
		height: 110px;
	width: 100%;
	margin-top: 30px;
	background-color: #e94534;
}

#home { 
	position:absolute; 
			left:14%;  
			z-index:10; 
}
  
#contact { 
	font-family: "ralewaymedium", Helvetica;
	position:absolute; 
			right:15%; 
			top: 20px; 
			z-index:10; 
	color: white;
	font-size: 12px;
	line-height: 1.1em;
}
  
#main-menu {  
	z-index:1; 
	height:100px; 
	width:100%; 
	margin: 0 auto; 
}

  
.menu-links {
	position:relative;
		left: 23%; 
	display:block; 
	list-style-type:none;
	margin-top: 2%; 
	float:left;
}

.menu-links li { 
	font-family: "ralewaybold", Helvetica, bold;
    display:inline; 
    float:left;  
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.menu-links li a { 
	display:block; 
	float:left;  
	padding: 8px 20px; 
	text-decoration: none;
	color: #b83d30;
}



/* Content
------------------------------------ */

#container {
	background-color: #fff;
	width: 950px;
	margin: 0px auto;
}

img {
	max-width: 100%;
	float: left;
}

body {
	background-color: #fff;
	margin: 0 auto;
	font-family: "ralewayregular", Helvetica;
	font-size: 16px;
	letter-spacing: .03em;
	line-height: 1.4em;
}

p {
	line-height: 1.5em;
}

.bold {
	font-family: "ralewaybold", Helvetica;
}

#left {
	margin-top: 5%;
	margin-right: 3%;
	margin-left: 1%;
	width: 36%;
	float: left;
}

#right {
	margin: 5%;
	width: 50%;
	float: left;
}

h3 {
	font-size: 1.5em;
	line-height: 1.2em;
	color: #666666;
	line-height: 1.35em;
}

.numbers {
	font-family: Helvetica;
}

#clear {
	clear: both;
}

/* About
------------------------------------ */

#name {
	font-size: 14px;
	text-align: right;
	margin: 5% 0 5% 0;
	color:#666666;
}

#owners {
	box-shadow: .5px 1px 4px 0px #666;
}

#mobile-img {
	display: none;
}


/* Products
------------------------------------ */

#message {
	font-family: "ralewayregular", Helvetica;
	margin-bottom: 10%;
}

#logos img {
	margin: 2.85%;
	float: left;
}

.products {
	float:left;
}


.types {
	font-family: "ralewaybold", Helvetica;
	color: red;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 12px;
	float: left;
	width: 35%;
}

.food {
	float: left;
	width: 65%;
	margin-bottom: 6%;
}

#break {
	display: none;
}


/* Location
------------------------------------ */

.titles {
	font-family: "ralewaybold", Helvetica;
	color: #cd2027;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 12px;
	float: left;
	width: 35%;
}

.information {
	float: left;
	width: 65%;
	margin-bottom: 5%;
}

.weekdays {
	width: 30%;
	float:left;
	margin-right: 6%;
}

.times {
	width: 60%;
	float: left;
}

/* Hidden until @ 670px */
#mobile-break {display: none}


.car {
	margin-bottom: 10%;
}

/* Footer
------------------------------------ */

#footer {
	text-align: right;
	font-size: 10px;
	color: #666666;
	padding: 20px;
	margin-right: 14%;
	clear: both;
}



/* Responsive
------------------------------------ */

/* 1100px in component.css */

@media screen and (max-width:1060px) {
	body {width: 100%; font-size: 17px;}
	#container {
		background-color: #fff;
		width: 100%;
		margin: 0px auto;}
	#main-menu {  
		position: absolute;
			top:6%;
		height:110px; }
	.menu-links {left: 21%;}
	#contact { right:7%;} 
	#home { 
		position:absolute; 
			left:10%;  
			z-index:10;}
	#map {max-width: 100%}
	#left {
		margin-top: 5%;
		margin-left: 8%;
		margin-right: 5%;
		width: 30%;
		float: left;}
	#right {
		margin: 5%;
		width: 44%;
		float: left;}
}	


@media screen and (max-width:925px) {
	body {width: 100%; font-size: 18px;}
	#container {
		background-color: #fff;
		width: 100%;
		margin: 0px auto;}
	#home { 
		position:absolute; 
			left:8%;  
			z-index:10;}
	.menu-links {left: 18%;}
	.menu-links li a { padding: 7px 13px;}
	#contact { right:3%;} 
	#left {display: none;}
	#mobile-img {display: block; margin-top: 5%; margin-bottom: 7%; width: 90%;}
	#right {margin-left: 21%; width: 55%;}
}


@media screen and (max-width:830px) {
	body {width: 100%; font-size: 19px;}
	#container {
		background-color: #fff;
		width: 100%;
		margin: 0px auto;}
	#home { position:absolute; 
			left:6.5%;  
			z-index:10;}
	.menu-links li a { padding: 7px 10px;}
	#header { width:100%;}
	#header-wrapper {width:100%;}
	body {max-width: 100%; font-size: 18px;}
	nav a { margin: 15px 15px; }
	#left {display: none; margin-top: 9%;}
	#right {margin-left: 21%; width: 60%; margin-top: 9%;}
}



@media screen and (max-width:790px) {
	body {width: 100%; font-size: 19px;}
	#container {
		background-color: #fff;
		width: 100%;
		margin: 0px auto;}
	#home { position:absolute; 
			left:6.5%;  
			z-index:10;}
	.menu-links {left: 25%; margin-top: 3%;}
	#contact {display: none;}
	#header { width:100%;}
	#header-wrapper {width:100%;}
	#left {display: none;}
	#right {margin-left: 28.5%; width: 60%;}
	#message {display: none;}
	#break {line-height: .5em; display: block;}
	#hours-screen {display:none;}
	#mobile-break {display: block; font-family: Helvetica; font-size: 15px;}
}


@media handheld and (max-width:790px) {
	body {width: 100%; font-size: 19px;}
	#container {
		background-color: #fff;
		width: 100%;
		margin: 0px auto;}
	#home { position:absolute; 
			left:6.5%;  
			z-index:10;}
	.menu-links {left: 25%; margin-top: 3%;}
	#contact {display: none;}
	#header { width:100%;}
	#header-wrapper {width:100%;}
	#left {display: none;}
	#right {margin-left: 28.5%; width: 60%;}
	#message {display: none;}
	#break {line-height: .5em; display: block;}
	#hours-screen {display:none;}
	#mobile-break {display: block; font-family: Helvetica; font-size: 15px;}
}

@media screen and (max-width:640px) {
	#right {margin-left: 28%; margin-top: 10%}
}

@media handheld and (max-width:640px) {
	#right {margin-left: 28%; margin-top: 10%;}
}