
aside {
	position: absolute;
	right: 20%;
	top: 5%;

}

#site-header {
	position: relative;
	height: 150px;
}


#site-header h1 a { 
  display:block;	
  text-indent:-9999px;    
  position:absolute;
  width:100px; height:97px;
  background:url(images/logo.png) no-repeat top left;
}

