

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  END RESET */

/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }



#site-header h1 a {
 display:block;  
 width:445px; 
 height:95px;  
 background:url(images/dogvscat-logo.gif) no-repeat; 
 text-indent:-9999px;
 margin: 30px;
 }


body {
	position: relative;
		left: 5%;
	font-size: 15px;
	line-height: 1em;
	margin-left: 50px;
}

a {
	text-decoration: none;
	color: black;
}

header img {
	margin-top: 20px;
}

header {
	position: relative;
	height: 95px;
	left: 27%;
}


h1 {
	font-size: 25px;
	font-weight: bold;
	line-height: 1.5em;
}


li {
	float: left;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 10px 40px 10px 20px;
	margin: 20px 0px 30px 0px;
	border-top: 3px solid black;
	border-bottom:3px solid black;
	font-size: 20px;
	list-style-type: disc;
}

.first {
	list-style: none;
}


nav {
	position: absolute;
	left: 20%;
}


section {
	position: absolute;
		top: 120%;
		left: 20%;
		font-size: 15px;
		line-height: 1.2em;
}

#dawgs {
	float: left;
	max-width: 290px;
	margin: 30px;
	clear: both;
}


#kats {
	float: left;
	max-width: 290px;
	margin: 30px;
}

footer {
	position: relative;
		height: 40px;
		top: 450px;
		left: 22%;
	padding-bottom: 10px;
	clear: both;
	font-size: 13px;
	}

#wiki {
	float:left;
	text-align: left;
	width: 460px;
	padding-top: 15px;
	border-top: 3px solid black;
}

#copyright {
	float:left;
	text-align: right;
	padding-top: 15px;
	border-top: 3px solid black;
}

footer a {
	color: red;
}
